*{
    margin: 0px;
    padding: 0px;
}
.App{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
            'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
            sans-serif;
    background: linear-gradient(
    #bfcc69,
    #8ac364,
    #6ca95d,
    #2a702b);
    height: 100vh;
}
button{
    color: white;
    padding: 1vw;
    margin: 5vw;
    font-size: 1.5vw;
    border-radius: 1vw;
    background-color: #1A3C40;
    border: #07181a 2px solid;
}
button:hover{
    background-color: rgb(110, 214, 255); 
    color: #07181a;
}

#boxClass , #boxFunc{
    border-radius: 2vw;
    width: 35vw;
    height: 18vw;
    font-size: 2vw;
    text-align: center;
    border: 3px solid rgb(30, 34, 80);
    padding: 1vw;
    background-color: #F7FF93;
}

#boxClass{
    background-color: rgb(255, 50, 50);
}

.hidden{
    display: flex;
    justify-content: space-around;
    margin: 5vw;
}

